# Build directories
build/
bin/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake
*.o
*.so
*.a
*.dll
*.exe
*.dSYM/
*.user
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.log
*.swp
*~
eclipselock
.vscode/