pkgbase = eclipselock
	pkgdesc = A command-line tool for file encryption using AES-256-CBC
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/tkmxqrdxddd/eclipselock
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = openssl
	source = eclipselock-1.0.0.tar.gz
	sha256sums = a0081fa955576a83eb95204eeceaaa474124411f9e1c1d02d293777ade2138a3

pkgname = eclipselock
