pkgbase = eclipselock
	pkgdesc = A command-line and GUI tool for file encryption using AES-256-CBC
	pkgver = 2.3.5
	pkgrel = 1
	url = https://github.com/tkmxqrdxddd/eclipselock
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = gcc
	makedepends = make
	depends = openssl
	depends = gtkmm3
	depends = gtk3
	source = eclipselock-2.3.5.tar.gz
	sha256sums = SKIP

pkgname = eclipselock
